# Node
tfg-antigravity-docs/node_modules/
tfg-antigravity-docs/.docusaurus/
tfg-antigravity-docs/build/

# OS
.DS_Store
Thumbs.db

# Large files
*.rar
*.zip
*.bak
*.log

# Vercel
.vercel

# LaTeX auxiliaries
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
