.glossaryLink {
  color: #64748b;
  text-decoration: none !important;
  border-bottom: none !important;
  cursor: help;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  position: relative;
}

.glossaryLink:hover {
  color: #0284c7;
  text-decoration: none !important;
  background-color: transparent;
}

html[data-theme='dark'] .glossaryLink {
  color: #94a3b8;
}

html[data-theme='dark'] .glossaryLink:hover {
  color: #e0e7ff;
}

.superscript {
  display: none;
}
